{% extends "base.html.j2" %}

{% block title %}SWaL - Add Entry{% endblock %}

{% block body %}
    {% include 'std_head.html.j2' %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="add_mode_toggle">
        <div class="add_mode">
            Single Item
        </div>

        <div class="add_mode">
            From URL
        </div>

        <div class="add_mode">
            Batch
        </div>
    </div>

    <div class="add_form">
        {% if mode == "single" %}
        {% include "single_add_form.html.j2" %}
        {% else %}
        <p>Choose an add mode</p>
        {% endif %}
    </div>
{% endblock %}
