{% extends "base.html.j2" %}

{% block title %}SWaL - Add Entry{% endblock %}

{% block scripts %}
    <script src="{{ macros.static_file('js', 'add_entry.js') }}" defer></script>
{% endblock %}

{% block body %}
    {% include 'std_head.html.j2' %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="add_mode_toggle">
        <div class="add_mode">
            Single Item
        </div>

        <div class="add_mode">
            From URL
        </div>

        <div class="add_mode">
            Batch
        </div>
    </div>

    {% if request.method == "GET" %}
    <div class="add_form">        
        {% if mode == "single" %}
            {% include "single_add_form.html.j2" %}
        {% else %}
        <p>Choose an add mode</p>
        {% endif %}
    </div>
    
    {% elif request.method == "POST" %}
    <div class="add_result">
        <p>{{ result.status[-1] }}</p>
        {% if result.success %}
        <img src="{{ macros.media_file('img', result.new_img) }}">
        {% else %}
        <ul class="add_errors">
            {% for error in result.errors %}
            <li>Error {{ error.code }} - {{ error.msg }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
