{% extends "base.html.j2" %}

{% block title %}SWaL - Add Entry{% endblock %}

{% block body %}
    {% include 'std_head.html.j2' %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="add_mode_toggle">
        <div class="add_mode">
            Single Item
        </div>

        <div class="add_mode">
            From URL
        </div>

        <div class="add_mode">
            Batch
        </div>
    </div>

    <div class="add_form">
        <form>
            <label for="artist">Artist:</label><br>
            <input type="text" id="artist" name="artist"><br>

            <label for="album">Album:</label><br>
            <input type="text" id="album" name="album"><br>

            <label for="release_year">Release Year:</label><br>
            <input type="text" id="release_year" name="release_year"><br>

            <label for="genre">Genre:</label><br>
            <input type="text" id="genre" name="genre"><br>

            <p>Interest Level:</p>
            <label for="interest_1">1</label>
            <input type="radio" id="interest_1" name="interest_level" value="1"><br>
            <label for="interest_2">2</label>
            <input type="radio" id="interest_2" name="interest_level" value="2"><br>
            <label for="interest_3">3</label>
            <input type="radio" id="interest_3" name="interest_level" value="3"><br>
            
            <label for="is_starred">Starred?</label>
            <input type="checkbox" id="is_starred" name="is_starred" value="true"><br>

            <label for="artwork">Artwork file:</label><br>
            <input type="file" id="artwork" name="artwork"><br>

            <label for="is_obtained" class="disabled">Obtained?</label>
            <input type="checkbox" id="is_obtained" name="is_obtained" value="true" disabled><br>

            <label for="link">Link:</label><br>
            <input type="url" id="link" name="link"><br>

             <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
