{% extends "base.html.j2" %}

{% block title %}SWaL - Entry List{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    {% include 'std_head.html.j2' %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if not data.has_errors() %}
    Matches:
    <ul>
        {% for result in data.results %}
        <li>{{ result }}</li>
        {% endfor %}
    </ul>
    {% else %}
    Encountered errors while searching:
    <ul>
        {% for error in data.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
{% endblock %}
