{% extends "base.html.j2" %}

{% block title %}SWaL - {{id}}{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    {% include 'std_head.html.j2' %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if not data.has_errors() %}

    <div class="entry_panel">
        <div>
            {{ data.results[0]._id }}
        </div>
        <div>
            {{ data.results[0].artist }}
        </div>
        <div>
            {{ data.results[0].album }}
        </div>
    </div>

    {% else %}
    Encountered errors while searching:
    <ul>
        {% for error in data.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
