{% extends "base.html.j2" %}

{% block title %}SWaL - {{ data.results[0].artist + ' - ' + data.results[0].album if not data.has_errors() else 'Errors'}}{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    {% include 'std_head.html.j2' %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if not data.has_errors() %}
    {% set my_entry = data.results[0] %}

    <div class="entry_panel">
        <div class="entry_panel_artwork">
            {% if my_entry.artwork_file %}
            <img src="{{ macros.media_file(MEDIA_IMG_DIR, my_entry.artwork_file_name) }}">
            {% else %}
            <img src="{{ macros.static_file(IMG_STATIC_DIR, DEFAULT_ART) }}">
            {% endif %}
        </div>

        <div class="entry_panel_info">
            <div class="entry_panel_info_top">
                <div class="entry_panel_info_title">
                    <span class="entry_emph_1">{{ my_entry.album }}</span><br />
                    <span style="font-style: italic;">by</span><br />
                    <span class="entry_emph_1">{{ my_entry.artist }}</span>
                </div>

                <div class="entry_panel_info_properties">
                    {{ 'Interest Level: ' ~ my_entry.interest_level if my_entry.interest_level is not none else '<span class="none_field">Interest</span>' }} <br />
                    Starred: <span class="starred_ind {{ 'starred' if my_entry.is_starred else ''}}">{{ '★' if my_entry.is_starred else '☆' }}</span> <br />
                    Obtained: <span class="obtained_ind">{{ '☑' if my_entry.is_obtained else '☐' }}</span>
                </div>
            </div>

            <div class="entry_panel_info_bot">
                <div>
                    {{ '<span style="font-weight: bold">Genre:</span> ' + my_entry.genre if my_entry.genre is not none else '<span class="none_field">Genre</span>' }}
                </div>

                <div>
                    <span style="font-weight: bold">Release Year</span>: {{ my_entry.release_year }}
                </div>
                
                <div>
                    {% if my_entry.link is not none %}
                    <a href="{{ my_entry.link }}" target="_blank">External Link ↗</a>
                    {% else %}
                    <span class="none_field">External Link</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div>
        <a href="{{ url_for(endpoint = 'entries') }}{{ '?' + prev_search if prev_search else '' }}">[return to search]</a>
    </div>

    {% else %}
    Encountered errors while searching:
    <ul>
        {% for error in data.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
