<form action="{{ url_for(endpoint = 'add_entry', _method = 'POST', mode = 'single') }}" method="POST">
    <label for="artist">Artist:</label><br>
    <input type="text" id="artist" name="artist"><br>

    <label for="album">Album:</label><br>
    <input type="text" id="album" name="album"><br>

    <label for="release_year">Release Year:</label><br>
    <input type="text" id="release_year" name="release_year"><br>

    <label for="genre">Genre:</label><br>
    <input type="text" id="genre" name="genre"><br>

    <div class="form_radio">
        <p>Interest Level:</p>
        <label for="interest_1">1</label>
        <input type="radio" id="interest_1" name="interest_level" value="1"><br>
        <label for="interest_2">2</label>
        <input type="radio" id="interest_2" name="interest_level" value="2"><br>
        <label for="interest_3">3</label>
        <input type="radio" id="interest_3" name="interest_level" value="3"><br>
    </div>

    <div class="form_checkbox">
        <label for="is_starred">Starred?</label>
        <input type="checkbox" id="is_starred" name="is_starred" value="true"><br>
        <input name="is_starred" type="hidden" value="false"/>
    </div>

    <div class="form_upload">
        <label for="artwork_file">Paste or upload artwork file:</label><br>
        <input type="button" id="artwork_paste" name="artwork_paste" value="Click to Paste">
        <input type="file" id="artwork_file" name="artwork_file">
        <br>
        <div id="artwork" class="artwork artwork_empty">
            <img id="artwork_preview" class="hidden">
        </div>
    </div>

    <div class="form_checkbox">
        <label for="is_obtained" class="disabled">Obtained?</label>
        <input type="checkbox" id="is_obtained" name="is_obtained" value="true" disabled><br>
        <input name="is_obtained" type="hidden" value="false"/>
    </div>

    <label for="link">Link:</label><br>
    <input type="url" id="link" name="link"><br>

    <input type="submit" value="Submit">
</form>