{% block std_head %}

<div class="header">
    <div class="title">
        <h1>SWaL</h1>
        <p><span class="first_lett">S</span>tuff <span class="first_lett">W</span>orth a <span class="first_lett">L</span>isten</p>
    </div>

    <div class="top_menu">
        <div class="top_menu_item"><a href="{{ url_for('index') }}">Home</a></div>
        <div class="top_menu_item">Add Entry</div>
        <div class="top_menu_item">Browse Entries</div>
    </div>
</div>

{% endblock %}