{% block std_head %}

<div class="header">
    <div class="top_banner">
        <div class="logo">
            <img src="{{ macros.static_file(IMG_STATIC_DIR, 'swallow_small.jpg') }}">
        </div>
        <div class="title">
            <h1>SWaL</h1>
            <p><span class="first_lett">S</span>tuff <span class="first_lett">W</span>orth a <span class="first_lett">L</span>isten</p>
        </div>
    </div>

    <nav class="top_menu_wrapper">
        <div class="top_menu">
            <a href="{{ url_for('index') }}" class="top_menu_item"><div class="top_menu_item_text">Home</div></a>
            <a href="{{ url_for(endpoint = 'add_entry', _method = 'GET', mode = 'single') }}" class="top_menu_item"><div class="top_menu_item_text">Add Entry</div></a>
            <a href="#" class="top_menu_item"><div class="top_menu_item_text">Browse Entries</div></a>
        </div>
    </nav>
</div>

{% endblock %}