div.title {
    margin: 10px 0px;
}

div.title > h1 {
    margin: 0px;
}

div.title > p {
    margin: 5px 0px 0px 0px;
}

span.first_lett {
    font-weight: bold;
    font-size: 1.2em;
}

div.top_menu_wrapper {
    width: 100%;
    background-color: #dddddd;
    border-style: solid;
    border-width: 2px;
    margin: 5px 0px 5px 0px;
}

div.top_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

a.top_menu_item {
    color: black;
    padding: 7px 0px 7px 0px;
}

a.top_menu_item:visited {
    color: black;
}

a.top_menu_item:hover {
    background-color: #222222;
    color: #dddddd;
}

div.top_menu_item_text {
    padding: 8px 15px 8px 15px;
    border-color: black;
    border-width: 2px;
    border-right-style: solid;
}
